.button {
    cursor: pointer;
    padding: 7px;
}

.clear,
.clear-inverted {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    color: var(--secondary-color);
}

.clear-inverted {
    color: var(--secondary-inverted-color);
}

.outline {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    background: none;
}

.outline-inverted {
    border: 1px solid var(--secondary-inverted-color);
    color: var(--secondary-inverted-color);
    background: none;
}

.size_s {
    font: var(--font-s);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}
