.app.light {
    --bg-color: #82dcb0;
    --bg-inverted-color: #01012c;
    --primary-color: #030e77;
    --secondary-color: #2b20c5;
    --primary-inverted-color: #41d941;
    --secondary-inverted-color: #32b032;
}
